*  { margin:0; padding:0; }

html, body { height: 100%;  }
header { padding-bottom: 70px !important; margin-bottom: 5px;}
.cabecalho { background-color: #FFFFFF; position:fixed; z-index: 2;  }
.container-fluid {z-index: 1;}
.menu-fixo { 
    background-color: #FFFFFF; 
    bottom:0; 
    left: 0; 
    position:fixed; 
    right: 0; 
    top: auto; 
    z-index: 10; 
    margin: 0; 
    padding: 0; 
    border-top: 1px solid rgba(0,0,0,.0975); 
    padding-top: 8px; 
    padding-bottom: 0; 
}

/*Configuração de links*/
/*a           { padding: 0 }
a:link      { color: black }
a:visited   { color: black }
a:hover     { color: #636e72 }
a:active    { color: black }*/

/*Icons*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-38 { font-size: 38px; }
.material-icons.md-48 { font-size: 48px; }
.ico-verde    { color: #27ae60 !important; }
.ico-vermelho { color: #e74c3c !important; }
.ico-amarelo  { color: #f1c40f !important; }
.ico-roxo     { color: #8e44ad !important; }
.ico-azul     { color: #2980b9 !important; }

.logo_pwa { max-height: 70px; margin-top: 2px}
.logo_unibh { max-height: 40px; margin-top: 10px}

