<!DOCTYPE html>
<html>
<head>
    <title>TCC Progressive Web ..</title>

    <meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Icons -->
    <link rel="..le-touch-icon" sizes="180x180" href="../imagens/favicon/..le-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../imagens/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../imagens/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="../imagens/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../imagens/favicon/favicon.ico">

    <meta name="ms..lication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="manifest" href="/manifest.json">

    <!-- ServiceWorker -->
    <script src="../js/sw.js"></script>
    
    <!-- Bootstrap -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Font Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <body>
        <header>
            <div class="col-xs-12 cabecalho">
                <div class="col-xs-6" align="">
                    
                    <i class="material-icons md-38">arrow_back</i> 
                </div>
            </nav>
        </header>


		<div class="menu-fixo">
    		<div class="row" align="center">
		        <div class="col-xs-1"></div> 
		        <div class="col-xs-2"><a href="../views/camera.html">        <i class="material-icons md-38 ico-verde"     title="Câmera">camera_enhance</i></a></div>
		        <div class="col-xs-2"><a href="../views/microfone.html">     <i class="material-icons md-38 ico-vermelho"  title="Microfone">mic</i></a></div>
		        <div class="col-xs-2"><a href="../views/plus.html">          <i class="material-icons md-38 ico-amarelo"   title="Mais">add</i></a></div>
		        <div class="col-xs-2"><a href="../views/notificacao.html">   <i class="material-icons md-38 ico-roxo"      title="Notificações">announcement</i></a></div>
		        <div class="col-xs-2"><a href="../views/localizacao.html">   <i class="material-icons md-38 ico-azul"      title="Localização">my_location</i></a></div>
    		</div> 
		</div>

		<!-- jQuery -->
		<script src="../lib/jquery/jquery.min.js"></script>
		<!-- JS -->
		<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
		<!-- JS Personalizado -->
		<script src="../js/contoller.js"></script> 
	</body>
</html>