		<div class="menu-fixo">
    		<div class="row" align="center">
		        <div class="col-xs-1"></div>
		        <div class="col-xs-2"><a href="camera.html"><i class="material-icons md-38 ico-verde"     title="Câmera">camera_enhance</i></a></div>
		        <div class="col-xs-2"><a href="microfone.html"><i class="material-icons md-38 ico-vermelho"  title="Microfone">mic</i></a></div>
		        <div class="col-xs-2"><a href="plus.html"><i class="material-icons md-38 ico-amarelo"   title="Mais">add</i></a></div>
		        <div class="col-xs-2"><a href="notificacao.html"><i class="material-icons md-38 ico-roxo"      title="Notificações">announcement</i></a></div>
		        <div class="col-xs-2"><a href="localizacao.html"><i class="material-icons md-38 ico-azul"      title="Localização">my_location</i></a></div>
    		</div> 
		</div>

		<!-- jQuery -->
		<script src="../lib/jquery/jquery.min.js"></script>
		<!-- JS -->
		<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
		<!-- JS Personalizado -->
		<script src="../js/contoller.js"></script> 
	</body>
</html>