<!DOCTYPE html>
<html>
<head>
    <title>TCC Progressive Web App</title>

    <meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../imagens/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../imagens/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../imagens/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="../imagens/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../imagens/favicon/favicon.ico">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="manifest" href="/manifest.json">

    <!-- ServiceWorker -->
    <script src="../js/controller.js"></script>
    
    <!-- Bootstrap -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Font Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <body>
        <header>
            <div class="col-xs-12 cabecalho" align="center">
                <a href="index.html"><img src="../imagens/logo_principal.png" class="logo"></a>
            </div>
        </header>
